.titleImage {
    height: 160px;
    /*width: 100%;*/
    /*position: relative;*/
    /*background: url("https://lh3.googleusercontent.com/proxy/SkQxgOsSmwid5E_LAwsNLrKTStNbG5M8aVvXdVeWF2yq5oeUegcJ_Dzz0C8pig6fXPZcpm9FSDY")*/ ; /*no-repeat center center*/
    background: url("https://i1.wallbox.ru/wallpapers/main/201634/b4e85f8265ec7e3.jpg");
    background-size: cover;
    margin-left: 0px;
    margin-right: 0px;
    
}

@media screen and (max-width: 415px) {
    .titleImage {
      height: 100px;
    }
  }