.webTitle{
    margin-top: 45px;
    margin-left: 75px;
    color:#E12F8F;
    font-size: 27px;
}
.allInfo{
    display:flex;
    flex-flow:row;
    flex-wrap: wrap;
    width: 1000px;
    height: 350px;
    margin-left: 200px;
    padding-top: 30px;
    padding-bottom: 80px;
}
.productInfo{
    display:flex;
    flex-flow:column;
    flex-wrap: wrap;
    padding-left: 70px;
    height: 352px;
    width: 500px;
}
.imageStyle{
    width:330px;
    height: 350px;
    margin-left: 0px;
    border:1px solid #cecece;
    background-image: url("../../images/buketi1.jpg");
    background-size: 330px 350px;
}
.title{
    text-decoration: underline;
    padding-left: 0px;
}
.description{
    width: 500px;
    padding-top: 20px;
}
.price{
    font-size: 21px;
    text-shadow: 2px 2px 8px #cecece;
}
.quantity{
    border: 1px solid #555555;
    width: 70px;
    height: 35px;
    margin-bottom: 25px;
}
.addButton{
    background-color:#06C206;
    outline: none;
    border: none;
    width: 200px;
    height: 50px;
}
.addButton span{
    color:white;
    font-size: 19px;
}