.webTitle{
    margin-top: 45px;
    margin-left: 75px;
    color:#E12F8F;
    font-size: 27px;
}
.allInfo{
    display:flex;
    flex-flow:row;
    flex-wrap: wrap;
    width: 1000px;
    height: 360px;
    margin-left: 200px;
    padding-top: 30px;
    padding-bottom: 90px;
}
.productInfo{
    display:flex;
    flex-flow:column;
    flex-wrap: wrap;
    padding-left: 70px;
    height: 362px;
    width: 500px;
}
.imageStyle{
    width:340px;
    height: 360px;
    margin-left: 0px;
    border:1px solid #cecece;
    background-image: url("../../images/buketi1.jpg");
    background-size: 330px 350px;
}
.title{
    text-decoration: underline;
    padding-left: 0px;
}
.description{
    width: 500px;
    padding-top: 20px;
}
.price{
    font-size: 21px;
    text-shadow: 2px 2px 8px #cecece;
    font-weight: bold;
    color: #E12F8F;
}
/*.quantity{
    border: 1px solid #555555;
    width: 70px;
    height: 35px;
    margin-bottom: 25px;
}*/
.numBox{
    width: 35px;
    height: 31px;
    text-align: center;
    border: 1px solid #cecece;
    font-size: 19px;
    outline: #555555;
    background-color: white;
}
.minus{
    width: 30px;
    height: 35px;
    border: 1px solid #cecece;
    background-color: whitesmoke;
    text-align: center;
    outline: #555555;
    font-size: 19px;
}
.plus{
    width: 30px;
    height: 35px;
    border: 1px solid #cecece;
    background-color: whitesmoke;
    text-align: center;
    outline: #555555;
    font-size: 19px;
}
.addButton{
    background-color:#06C206;
    outline: none;
    border: none;
    width: 200px;
    height: 50px;
    margin-top:35px;
}
.addButton span{
    color:white;
    font-size: 19px;
}

.suggestionTitle{
    margin-left: 200px;
    color:#E12F8F;
    font-size: 24px;
}
.suggestionsGallery{
    margin-left: 200px;
    width: 1150px;
    height: 300px;
    display: flex;
    flex-flow: row;

}
.suggestionBox{
    display:flex;
    flex-flow: column;  
}
.galleryImage{
    width:170px;
    height: 190px;
    border: 1px solid #cecece;
    margin:30px;
    margin-bottom: -10px;
    background-size: 170px 190px;
}
.imageName{
    text-decoration: underline;
    padding-top: 10px;
    text-align: center;
}