.title { 
    font-size: 30px;
    color: #E12F8F;
    padding-left: 70px;
}

 .container {
    display:flex;
    flex-flow: row;
    flex-wrap: wrap;     
    padding-top:30px;
  }
   
  .list {
    margin-left: 200px;
    display:flex;
    flex-flow: row;
    flex-wrap: wrap;     
    padding-top:0px;
  } 

  .list ul {
    list-style: none;
    margin: 5px 12px;
    margin-right: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-flow: column; 
  }
   
  .list ul span {
    word-wrap: break-word;
  }

  .category {
    margin-left: 260px;
    display:flex;
    flex-flow: row;
    flex-wrap: wrap;     
    padding-top:30px;
  }
  .productInfo {
    padding-top: 10px;
    font-size: 22px;
    justify-content: center;
    width: 267px;
    height: 60px;
    text-align: center;
  }

  .flower_name {
    font-size: 22px;
    text-align: left;
    margin-left: 5px;
    color: #555555;
  }

  .flower_price {
    display: block;
    text-align: left;
    margin-left: 5px;
    font-size: 19px;
    text-decoration: none;
    color: #E12F8F;
    padding-top: 10px;
    font-weight: bold;
  }

  .imageStyle {
    width:285px;
    height:280px;
    border:1px solid #cecece;
    background-size: 275px 290px;
    box-shadow: 0 2px 2px 0 #cecece, 0 3px 10px 0 #cecece;
  }

  .search{
    display: flex;
    flex-flow: row;
  }
  .searchBar{
    border: 1px solid #cecece;
    margin-left: 0px;
    width: 240px;
    height: 35px;
    font-size: 17px;
    outline: none;
  }
  .searchBttn{
    height: 33px;
    width: 29px;
    outline: none;
    background-color: white;
    border:1px solid #cecece;
  }
  .filterList{
    margin-left: 0px;
    width: 269px;
    height: 125px;
    border:1px solid #cecece;
    display: flex;
    flex-flow: column;
    position: absolute;
    background-color: white;
  }
  .filterListElement{
    list-style: none;
    font-size: 18px;
    padding-left: 4px;
  }
  .searchAndSort{
    display: flex;
    flex-flow: row;
    padding-left: 70px;
  }
  
  .titleAndSearch {
    display: flex;
    flex-flow: column;
  }

  @media screen and (max-width: 415px) {
    .title { 
      margin-top: 20px;
      margin-left: 0px;
      font-size: 17px;
    }
    
    .container {    
      padding-top:15px;
    }
     
    .list {
      margin-left: 0px;
      flex-flow: column;
    } 
    
    .list ul {
      margin-top: 15px;
      margin-bottom: 15px;
    }
     
    .category {
      flex-flow: column;   
      padding-top:10px;
    }
    .productInfo {
      padding-top: 7px;
      font-size: 15px;
    }
    
    .flower_name {
      font-size: 17px;
    }
    
    .flower_price {
      font-size: 15px;
      padding-top: 7px;
    }
    
    .imageStyle {
      width:280px;
      height:280px;
      background-size: 275px 290px;
    }
    
    /*.search{
      display: flex;
      flex-flow: row;
    }*/
    .searchBar{
      width: 140px;
      height: 20px;
      font-size: 15px;
    }
  
    .searchBttn{
      height: 22px;
      width: 25px;
    }
    .filterList{
      margin-left: 0px;
      width: 171px; 
      height: 105px;
    }
  
    .filterListElement{
      font-size: 15px;
      padding-left: 5px;
    }
    
  
    .searchAndSort{
      display: flex;
      flex-flow: row;
      padding-left: 55px;
    }
  }