.navigationHeader {
    height:90px;
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    flex-flow: row;
    align-items: center;
    width: 100%;
}

@media screen and (max-width: 415px) {
    .navigationHeader {
      height: 45px;
      margin-left: -20px;
      font-size: 15px;
    }
  }