.navigationHeader {
    height:90px;
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    flex-flow: row;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #E12F8F;
    
}

