.footer {
    background-color:rgb(190, 172, 172);
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    color: black;
    font-size: 16px;
    text-align: center;
    margin-left: 200px;
    margin-right: 210px;
}

.footer .info {
    list-style: none;
    display: flex;
    flex-flow: column;
    text-align: center;
    padding-right: 100px;
    padding-left: 100px;
}

.contact {
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 10px; 
    font-weight: 540;
    color: black;
}

.phone {
    margin: 5px;
}

.email {
    margin: 5px;
}

.address {
    margin: 5px;
}

.workinghours {
    margin: 5px;
}

.copyright {
    display: flex;
    flex-flow: column;
    text-align: center;
    
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 190px;
    
}


.footer .payment {
    list-style: none;
    display: flex;
    flex-flow: column;
    text-align: left;
    padding-right: 100px;
    padding-left: 100px;
}

.waysofpaying {
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
    
    font-weight: 540;
    color: black;
}

.cash {
    list-style-type: circle;
}

.creditcards {
   margin-top: 15px;
   list-style-type: circle;
}

.cc {
    margin-top: 15px;
}

.VisaIcon {
    margin-right: 20px;
    padding-left: 5px;
     /* width: 70px;
     color:blue;
    background-color: yellow;  */
}

.MCIcon {
    margin-right: 20px;
}

.DinersIcon {
    margin-right: 20px;
    
}