.title { 
  font-size: 30px;
  color: #E12F8F;
  padding-left: 70px;
}

.container {
  display:flex;
  flex-flow: row;
  flex-wrap: wrap;     
  padding-top:30px;
}
 
.list {
  margin-left: 200px;
  display:flex;
  flex-flow: row;
  flex-wrap: wrap;     
  padding-top:0px;
} 

.list ul {
  list-style: none;
  margin: 5px 12px;
  margin-right: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-flow: column; 
}
 
.list ul span {
  word-wrap: break-word;
}

.category {
  margin-left: 260px;
  display:flex;
  flex-flow: row;
  flex-wrap: wrap;     
  padding-top:30px;
}
.productInfo {
  padding-top: 20px;
  font-size: 22px;
  justify-content: center;
  width: 267px;
  height: 60px;
  text-align: center;
}

.flower_name {
  text-decoration: underline;
  font-size: 22px;
  text-align: center;
  color: #555555;
}

.flower_price {
  display: block;
  text-align: center;
  font-size: 19px;
  text-decoration: none;
  color: #E12F8F;
  padding-top: 10px;
  font-weight: bold;
}

.imageStyle {
  width:285px;
  height:280px;
  border:1px solid #cecece;
  background-size: 275px 290px;
}