.webTitle{
    margin-top: 45px;
    margin-left: 75px;
    color:#E12F8F;
    font-size: 27px;
}
.searchBar{
    border: 1px solid #cecece;
    margin-left: 75px;
    width: 300px;
    height: 35px;
    font-size: 17px;
    outline: none;
    
}
.searchAndSort{
    display: flex;
    flex-flow: row;
   
}
.categories{
    
    margin-left: 45px;
    margin-right: 45px;
    display:flex;
    flex-flow: row;
    flex-wrap: wrap;     
    padding-top: 80px;
    
}
.flowerCategory{
   /* background-color: yellow;*/
    width:277px;
    height: 430px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 40px;
   /* border:3px solid red;*/
    
}
.image1{
    width:265px;
    height:280px;
    border:1px solid #cecece;
    background: url("https://cvjetnibuketi.hr/images/made/slike/ljiljani-i-ruze-48.jpg");
    background-size: 275px 290px;
}
.image2{
    width:265px;
    height:280px;
    border:1px solid #cecece;
    background: url("https://cvjetnibuketi.hr/images/made/slike/jednostavne-ruze-53.jpg");
    background-size: 275px 290px;
}
.image3{
    width:265px;
    height:280px;
    border:1px solid #cecece;
    background: url("https://cvjetnibuketi.hr/images/made/slike/njezna-orhideja-47.jpg"); 
    background-size: 275px 270px;
    
}
.image4{
    width:265px;
    height:280px;
    border:1px solid #cecece;
    background: url("https://cvjetnibuketi.hr/images/made/slike/egzotican-buket-56.jpg");
    background-size: 275px 290px;
}
.image5{
    width:265px;
    height:280px;
    border:1px solid #cecece;
    background: url("https://cvjetnibuketi.hr/images/made/slike/rozi-ljiljan-41.jpg");
    background-size: 275px 290px;
}

.image6{
    width:265px;
    height:280px;;
    border:1px solid #cecece;
    background: url("https://cvjetnibuketi.hr/images/made/slike/sareni-tulipani-55.jpg");
    background-size: 275px 290px;
}
.image7{
    width:265px;
    height:280px;
    border:1px solid #cecece;
    background: url("https://cvjetnibuketi.hr/images/made/slike/sareni-buket-40.jpg");
    background-size: 275px 290px;
}
.image8{
    width:265px;
    height:280px;
    border:1px solid #cecece;
    background: url("https://cvjetnibuketi.hr/images/made/slike/buket-amarilis-42.jpg");
    background-size: 275px 290px;
}

.image9{
    width:265px;
    height:280px;
    border:1px solid #cecece;
    background: url("https://cvjetnibuketi.hr/images/made/slike/margarete-u-rozom-43.jpg");
    background-size: 275px 290px;
}
.product_name{
    color: #555555;
    text-align:start;
    font-size: 20px;
}
.product_price{
    color: #000000;
    font-size: 19px;
    text-align: start; 
    
}
.productInfo{
    padding-top: 20px;
    font-size: 20px;
    justify-content: center;
    width: 267px;
    height: 60px;
    text-align: center;
   text-decoration: underline;
}
.productInfo span{
    color:black;
    display: block;
    text-align: center;
    font-size: 19px;
    text-decoration:none;
}
.openButton{
    background-color: #E12F8F;
    border: none;
    width:100px;
    width: 267px;
    height: 30px;
    
    outline: none;
    justify-content: center;
    text-align: center;

}
.openButton span{
    color:white;
    font-size: 18px;
    
}
