.webTitle{
    margin-top: 45px;
    margin-left: 75px;
    color:#E12F8F;
    font-size: 27px;
    font-weight: bold;
}
.search{
    display: flex;
    flex-flow: row;

}
.searchBar{
    border: 1px solid #cecece;
    margin-left: 75px;
    width: 240px;
    height: 35px;
    font-size: 17px;
    outline: none;
}
.searchBttn{
    height: 33px;
    width: 29px;
    outline: none;
    background-color: white;
    border:1px solid #cecece;
}
.filterList{
    margin-left: 75px;
    width: 269px;
    height: 125px;
    border:1px solid #cecece;
    display: flex;
    flex-flow: column;
    position: absolute;
    background-color: white;
}
.filterListElement{
    list-style: none;
    font-size: 18px;
    padding-left: 4px;
}
.searchAndSort{
    display: flex;
    flex-flow: row;
   
}
.categories{
    margin-left: 260px;
    display:flex;
    flex-flow: row;
    flex-wrap: wrap;     
    padding-top:30px;
}
.flowerCategory{
   /* background-color: yellow;*/
    width:277px;
    height: 430px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 20px;
   /* border:3px solid red;*/
    
}
.imageStyle{
    width:265px;
    height:280px;
    border:1px solid #cecece;
    background-size: 275px 290px;
}
.product_name{
    color: #555555;
    text-align:start;
    font-size: 20px;
}
.product_price{
    color: #000000;
    font-size: 19px;
    text-align: start; 
    
}
.productInfo{
    padding-top: 20px;
    font-size: 22px;
    justify-content: center;
    width: 267px;
    height: 60px;
    text-align: center;
}
.productInfo .justPrice{
    color:black;
    display: block;
    text-align: center;
    font-size: 19px;
    text-decoration: none;
    color: #E12F8F;
    padding-top: 10px;
    font-weight: bold;
}
.productInfo .justName{
    text-decoration: underline;
    font-size: 22px;
    text-align: center;
    color: #555555;
}
