.navigation{
     display:flex;
     justify-content: center; 
     margin-left: 35px;
     flex-flow: row;
     align-items: center;
     margin-top: 10px; 
     padding-left: 380px;
 }
 .ShoppingCart {
    color:rgb(56, 55, 55);
    padding-left: 30px;
    padding-right: 40px;
    padding-bottom: 0px;
}
.SearchBar{
    border:1px solid #adadad;
    padding-left: 10px;
    font-size: 17px;
    align-items: center;
    padding-top: 2px;
    padding-bottom: 2px;
    height: 30px;
    width: 220px;
    outline:none;
    border-radius: 15px;
}

@media screen and (max-width: 415px) {
    .navigation {
        margin-left: 0px;
        padding-left: 0px;
    }

    .ShoppingCart {
        padding-left: 15px;
        padding-right: 20px;
    }
}