.frontpage {
    font-family: 'Nunito';

}

.welcome {
    font-size: 30px;
    list-style: none;
    color: #E12F8F;
    display: flex;
    flex-flow: column;
    text-align: center;
    line-height: 3;
}

.webshopbutton {
   background-color:  #E12F8F;
   border: #E12F8F;
   color: white;
   height: 40px;
   width: 130px;
   font-size: 20px;
   margin-left: 700px;
   outline: none;
}

.text {
    display: flex;
    flex-flow: column; 
    text-align: left;
    padding-left: 300px;
}

.a {
    color: #E12F8F;
}

.sign {
    padding-left: 550px;
}

.bestsellers {
    color: #E12F8F;
    font-size: 30px;
    padding-left: 300px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.pictures {
    display: flex;
    flex-flow: row;
    padding-left: 300px;
}

.image1 {
    height: 300px;
    width: 300px;
    background: url("https://cvjetnibuketi.hr/images/made/slike/jednostavne-ruze-u-rozom-52.jpg");
    background-size: cover;
}

.image2 {
    height: 300px;
    width: 300px;
    background: url("https://media.jardinitis.com/product/bonsai-ligustrum-sp-800x800.jpeg");
    background-size: cover;
}

.image3 {
    height: 330px;
    width: 350px;
    background: url("https://cvjetnibuketi.hr/images/made/slike/princess-flower-box-79.jpg");
    background-size: cover;
}

.flowers {
    list-style: none;
    display: flex;
    flex-flow: row;
    
}

.roses {
    padding-left: 340px;
}

.bonsai {
    
    padding-left: 150px;
}

.box {
    padding-left: 190px;
}

.morebutton {
    background-color: #E12F8F;
    border: #E12F8F;
    color: white;
    height: 40px;
    width: 130px;
    font-size: 20px;
    margin-top: 140px;
    outline: none;
 }

 .chevronIcon {
    margin-left: 10px;
    height: 20px;
    width: 20px;
}
