@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
.frontpage {
    font-family: 'Nunito';
}

.welcome {
    font-size: 27px;
    list-style: none;
    color: #E12F8F;
    text-align: center;
    
    font-family: 'Courgette', cursive;
    margin-left: 280px;
    margin-right: 280px; 
}

.webshopbutton {
 
   color: #E12F8F;
   font-weight: bold;
   height: 40px;
   width: 130px;
   font-size: 20px;
   margin-left: 700px;
   outline: none;
}

.text {
    border:1px solid white;
    margin-left: 280px;
    margin-right: 280px;
    margin-top: 30px;
    padding-left: 20px;
    border-radius: 0px;
    box-shadow: 0 4px 4px 0 #cecece, 0 6px 20px 0 #cecece;
    background-color: whitesmoke;

}

.a {
    color: #E12F8F;
}

.sign {
    padding-left: 550px;
}

.bestsellers {
    color: #E12F8F;
    font-size: 30px;
    margin-top: 25px;
    margin-bottom: 2px;
    margin-left:280px;
    margin-right: 280px;
    padding-top: 15px;
    font-weight: bold;
    padding-bottom: 15px;  
}

.bestsellers1 {
    margin-left: 280px;
    margin-right: 280px;
    display:flex;
    flex-flow: row;
    flex-wrap: wrap;     
    padding-top:20px;
    
}

.bestsellerStyle {
    padding-right: 20px;
    padding-left: 15px;
    margin-right: 30px;
    margin-left: 20px;
}

.imageStyle {

    height: 235px;
    width: 230px;
    background-size: 257px 232px;
    border:1px solid #cecece;
    display: flex;
    flex-flow: row;
    border-radius: 0px;
    box-shadow: 0 4px 4px 0 #cecece, 0 6px 20px 0 #cecece;
    background-color: whitesmoke;
}

.bestsellerName {
    padding-top: 10px;
    font-size: 19px;
    width: 228px;
    height: 30px;
    text-align: left;
    margin-left: 5px;
}
.bestsellerPrice{
    font-size: 18px;
    width: 228px;
    height: 50px;
    text-align: left;
    margin-left: 5px;
    color: #E12F8F;
    font-weight: bold;
}

.morebutton {
    
    color: #E12F8F;
    font-weight: bold;
    text-decoration: underline;
    height: 60px;
    width: 180px;
    font-size: 20px;
    margin-left: 835px;
    cursor: pointer;
 }

 .chevronIcon {
    margin-left: 10px;
    height: 20px;
    width: 20px;
}

@media screen and (max-width: 415px) {
    .welcome {
        font-size: 17px;
        list-style: none;
        color: #E12F8F;
        text-align: center;
        font-family: 'Courgette', cursive;
        margin-left: 0px;
        margin-right: 0px;
    }

    .text {
        margin-left: 20px;
        margin-right: 20px;
       /* margin-top: 30px; */
        padding-left: 0px;
        font-size: 15px;
    }

    .sign {
        padding-left: 250px;
    }

    .bestsellers {
        font-size: 20px;
        margin-top: 25px;
        margin-bottom: 2px;
        margin-left:20px;
        margin-right: 20px;
    }

    .bestsellers1 {
        margin-left: 25px;
        margin-right: 25px; 
    }
    
     .bestsellerStyle {
        padding-right: 10px;
        padding-left: 10px;
    }
    
    .imageStyle {
        height: 135px;
        width: 135px;
        background-size: 257px 232px;
    }
    
    .bestsellerName {
        padding-top: 5px;
        font-size: 15px;
        width: 135px;
        height: 40px;
    }
    
    .morebutton {
        height: 25px;
        width: 110px;
        font-size: 15px;
        margin-top: 60px;
     }
    
}