@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
.frontpage {
    font-family: 'Nunito';
}

.welcome {
    font-size: 27px;
    list-style: none;
    color: #E12F8F;
    text-align: center;
    
    font-family: 'Courgette', cursive;
    margin-left: 280px;
    margin-right: 280px;
    /*display: flex;
    flex-flow: column;
    text-align: center;
    line-height: 3;*/
    
   
}

.webshopbutton {
   background-color:  #E12F8F;
   border: #E12F8F;
   color: white;
   height: 40px;
   width: 130px;
   font-size: 20px;
   margin-left: 700px;
   outline: none;
}

.text {
    border:1px solid white;
    margin-left: 280px;
    margin-right: 280px;
    margin-top: 30px;
    padding-left: 20px;
    border-radius: 0px;
    box-shadow: 0 4px 4px 0 #cecece, 0 6px 20px 0 #cecece;
    background-color: whitesmoke;

}

.a {
    color: #E12F8F;
}

.sign {
    padding-left: 550px;
}

.bestsellers {
    color: #E12F8F;
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 2px;
    margin-left:280px;
    margin-right: 280px;
}

.bestsellers1 {
    margin-left: 280px;
    margin-right: 280px;
    display:flex;
    flex-flow: row;
    flex-wrap: wrap;     
    padding-top:30px;
   
}

.bestsellerStyle {
    padding-right: 18px;
    padding-left: 15px;
}

.imageStyle {

    height: 235px;
    width: 230px;
    background-size: 257px 232px;
    border:1px solid #cecece;
    display: flex;
    flex-flow: row;
}

.bestsellerName {
    padding-top: 10px;
    font-size: 19px;
    justify-content: center;
    width: 232px;
    height: 60px;
    text-align: center;
    text-decoration: underline;
    
}

.morebutton {
    background-color: #E12F8F;
    border: #E12F8F;
    color: white;
    height: 40px;
    width: 130px;
    font-size: 20px;
    margin-top: 140px;
    outline: none;
    margin-left: 30px;
 }

 .chevronIcon {
    margin-left: 10px;
    height: 20px;
    width: 20px;
}
