.webTitle{
    margin-top: 45px;
    margin-left: 75px;
    color:#E12F8F;
    font-size: 27px;
    font-weight: bold;
}
.paymentPage{
    margin-left: 380px;
    padding-left: 50px;
    padding-right: 50px;
    width: 580px;
    font-size: 19px;
    border-top: 2px solid #E12F8F;
    justify-content: center;
   
}
.instructionTitle{
    color: #555555;
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: 75px;
}
.rowInfo{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    width: 1050px;
}

.name{
    margin-bottom: 10px;
}
.nameInput{
    outline: none;
    width: 220px;
    height: 35px;
    margin-right: 125px;
    border:1px solid #cecece;
    font-size: 18px;
    color:black;
    margin-bottom: 35px;
    margin-top: 35px;
}

.adressInput{
    outline: none;
    width: 570px;
    height: 35px;
    border:1px solid #cecece;
    font-size: 18px;
    color:black;
}
.dialingNum{
    outline: none;
    width: 55px;
    height: 35px;
    margin-right: 15px;
    border:1px solid #cecece;
    text-align: center;
    font-size: 18px;
    color: #555555;
    margin-bottom: 35px;
    margin-top: 35px;
}
.numInput{
    outline: none;
    width: 140px;
    height: 35px;
    border:1px solid #cecece;
    font-size: 18px;
    color:black;
    margin-top: 35px;
}
.title{
    text-decoration: underline;
    margin-top: 0px;
    margin-bottom: 40px;
}
.cashPayment{
    display: flex;
    flex-flow: row; 
    width: 140px;
    margin-bottom: 15px;
    /*border: 1px solid blue;*/
}
.wayOfPayment1{
    margin-right: 30px;
    
}
.wayOfPayment2{
    margin-right: 40px;
    
}
.checkBox1{
    height: 18px;
    width: 18px;

}
.checkBox2{
    height: 18px;
    width: 18px;

}
 .visaIcon {
    margin-right: 30px;
    font-size: 28px;
    stroke-width:50px
}
 .mastercardIcon {
    margin-right: 30px;
    font-size: 28px;
}

 .amexIcon {
    margin-right: 30px;
    font-size: 28px;
    
}
.creditCards {
    margin-top: 20px;
    list-style: none;
}
.cardPaymentBox{
    display: flex;
    flex-flow: row;
    margin-top: 20px;
    width: 580px;
    padding-bottom: 20px;
}

.ibanInput{
    outline: none;
    width: 250px;
    height: 35px;
    border:1px solid #cecece;
    font-size: 18px;
    color:black;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 15px;
}
.controlNum{
    outline: none;
    max-width: 50px;
    height: 35px;
    margin-right: 15px;
    border:1px solid #cecece;
    text-align: center;
    font-size: 18px;
    color: black;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 10px;
    margin-left: 10px;
}
.payButton{
    background-color:#06C206;
    outline: none;
    border: none;
    width: 200px;
    height: 50px;
    margin-left:1135px;
    margin-bottom:120px;
}
.payButton span{
    color:white;
    text-align: center;
    font-size: 19px;
}


