.webTitle{
    margin-top: 45px;
    margin-left: 75px;
    color:#E12F8F;
    font-size: 27px;
    font-weight: bold;
}
.searchBar{
    border: 1px solid #cecece;
    margin-left: 75px;
    width: 300px;
    height: 35px;
    font-size: 17px;
    outline: none;
    
}
.searchAndSort{
    display: flex;
    flex-flow: row;
   
}
.categories{
    margin-left: 260px;
    display:flex;
    flex-flow: row;
    flex-wrap: wrap;     
    padding-top:30px;
}
.flowerCategory{
   /* background-color: yellow;*/
    width:277px;
    height: 430px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 40px;
   /* border:3px solid red;*/
    
}
.imageStyle{
    width:265px;
    height:280px;
    border:1px solid #cecece;
    background-size: 275px 290px;
}
.product_name{
    color: #555555;
    text-align:start;
    font-size: 20px;
}
.product_price{
    color: #000000;
    font-size: 19px;
    text-align: start; 
    
}
.productInfo{
    padding-top: 20px;
    font-size: 22px;
    justify-content: center;
    width: 267px;
    height: 60px;
    text-align: center;
}
.productInfo .justPrice{
    color:black;
    display: block;
    text-align: center;
    font-size: 19px;
    text-decoration: none;
    color: #E12F8F;
    padding-top: 10px;
    font-weight: bold;
}
.productInfo .justName{
    text-decoration: underline;
    font-size: 22px;
    text-align: center;
    color: #555555;
}

@media screen and (max-width: 415px) {
    .webTitle{
        margin-top: 20px;
        margin-left: 45px;
        font-size: 17px;
    }
    
    .searchBar{
        margin-left: 45px;
        width: 140px;
        height: 25px;
        font-size: 12px;
    }

    .categories{
        margin-left: 50px;
        flex-flow: column;    
        padding-top: 10px;
    }

    .flowerCategory{
        width: 147px;
        height: 270px;
        padding-right: 50px;
        padding-left: 50px;
        padding-top: 30px;
    }

    .imageStyle{
        width: 165px;
        height: 190px;
        background-size: 175px 190px;
    }

    .productInfo{
        padding-top: 3px;
        font-size: 17px;
        width: 167px;
        height: 20px;
        margin-top: 0px;
    }
    .productInfo .justPrice{
        font-size: 17px;
        padding-top: 5px;
    }
    .productInfo .justName{
        font-size: 18px;
    }
}