.h1 {
    margin-top: 45px;
    margin-left: 90px;
    color:#E12F8F;
    font-size: 27px;
    font-weight: bold;
    margin-bottom: 30px;
}

.h2 {
    margin-top: 20px;
    margin-left:197px;
    color:#E12F8F;
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: bold;
}

.frames {
    display: flex;
    flex-flow: row;
}

.frame1 {
    border: 2px solid #cecece;
    margin-left:90px;
    width: 950px;
    height: 600px;
    display: flex;
    flex-flow: column;
    overflow-y: scroll;
    /* position: absolute;
    box-sizing: border-box; */
    margin-right: 30px;
}

.description {
    padding-top: 10px;
    padding-left: 410px;
    display: flex;
    flex-flow: row;
}

.price {
    margin-right: 35px;
}

.sum {
    margin-left: 35px;
}

.inChart {
    display: flex;
    flex-flow: column;
    /* border-top: 2px solid darkgray; */
    margin-top: 20px;
}

.productStyle {
    display: flex;
    flex-flow: row;
    border-top: 2px solid #cecece;
}

.xIcon {
    color: red;
    padding-top: 95px;
    margin-left: 10px;
}

.imageStyle {
    width: 175px;
    height: 190px;
    border: 1px solid #cecece;
    margin-left: 10px;
    margin-right: 10px;
}

.nameStyle {
    padding-top: 95px;
    margin-right: 50px;
}

.priceStyle {
    padding-top: 95px;
    margin-right: 30px;
}

.quantityStyle {
    padding-top: 95px;
    margin-right: 10px;
}

.sumStyle {
    padding-top: 95px;
    margin-right: 10px;
}

.frame2 {
    margin-left: 40px;
    border: 2px solid #cecece;
    display: flex;
    flex-flow: column;
    width: 330px;
    height: 480px;
}

.total {
    text-align: center;
    padding-top: 20px;
    height: 30px;
}

.productPrice {
    display: flex;
    flex-flow: row;
    border-top: 2px solid #cecece;
    padding-left: 20px;
}

.pP1 {
    margin-left: 60px;
}

.pP2 {
    margin-left: 95px;
}

.pP3 {
    margin-left: 37px;
    color: #06C206;
}

.shipping {
    display: flex;
    flex-flow: row;
    padding-left: 20px;
}

.billing {
    display: flex;
    flex-flow: row;
    border-bottom: 2px solid #cecece;
    padding-left: 20px;
    color: black;
}

.buttonStyle {
    text-align: center;
    height: 50px;
    padding-top: 10px;
}

.continue {
    background-color: #06C206;
    border: #06C206;
    color: white;
    height: 40px;
    width: 250px;
    font-size: 20px;
    align-items: center;
    outline: none;
    cursor: pointer;
}

.chevronIcon {
    /* font-size: 20px; */
    margin-left: 20px;
    height: 17px;
    width: 17px;
}

.delivery {
    border-bottom: 2px solid #cecece;
    border-top: 2px solid #cecece;
    height: 70px;
    padding-top: 15px;
    padding-left: 20px;
}

.creditCards {
    text-align: center;
    padding-top: 20px;
}

.visaIcon {
    margin-right: 50px;
    font-size: 35px;
    stroke-width:50px
}

.mastercardIcon {
    margin-right: 50px;
    font-size: 35px;
}

.amexIcon {
    /* margin-right: 50px; */
    font-size: 35px;
    
}
.visaIcon {
    margin-right: 10px;
    width: 40px;
    height: 30px;
    background-image: url("https://pngimg.com/uploads/visa/visa_PNG10.png");
    background-size: cover;
    padding-bottom:5px ;
    background-position-y: center;
    background-position-x:center;

}

.mastercardIcon {
    margin-right: 10px;
    width: 40px;
    height: 24px;
    background-image: url('https://cdn4.iconfinder.com/data/icons/logos-and-brands/512/206_Mastercard_Credit_Card_logo_logos-512.png');
    background-size: 40px 40px;
    border: 1px solid #cecece;
    border-radius: 4px;
    background-position-y: center;
    background-position-x:center;
    /*margin-top: 4px;*/
    margin-top: 5px;

   
}

.maestroIcon {
    margin-right: 10px;
    width: 40px;
    height: 30px;
    background-image:url("https://cdn.iconscout.com/icon/free/png-512/maestro-credit-debit-card-bank-transaction-32299.png");
    background-size: 58px 58px;   
   /* padding-bottom: 5px;*/
   background-position-y: center;
   background-position-x:center;    /*margin-top: 2px;
    padding-right: 1px;*/
    padding-bottom: 5px;
}

.creditCards {
    list-style: none;
    display: flex;
    flex-flow: row;
    justify-content: center;
}