.blog {
    font-size: 30px;
    line-height: 3;
    color: #E12F8F;
    padding-left: 70px;
}

.text {
    padding-left: 70px;
}

 .a {
  padding-bottom: 20px;
  padding-top: 20px;
}

.blogStyle {
  display: flex;
  flex-flow: row;
  cursor: pointer;
  background: transparent;
  border-radius: 3px;
  border: 2px solid darkgray;
  transition: 0.5s all ease-out;
  margin: 30px 70px 30px 70px;
  height: 200px;
}

.blogStyle:hover {
    background-color: darkgray;
    color: white; 
} 

.subblogStyle {
    display: flex;
    flex-flow: column;
    cursor: pointer;
}

.imageStyle {
    height: 200px;
    width: 203px;
    background-size: cover;
    font-size: 30px;
    margin-bottom: 10px;
}

.h {
    padding-left: 50px;
    padding-top: 15px;
    color: #E12F8F;
    font-size: 30px;
    line-height: 1;
}

.news {
    display: flex;
    flex-flow: row;
    justify-content: center;
    padding-left: 50px;
    font-size: 20px;
}

.button {
    background-color: whitesmoke;
    border: #E12F8F;
    color:  #E12F8F;
    height: 50px;
    width: 100px;
    font-size: 22px;
    margin-left: 1000px;
    margin-bottom: 130px;
    outline: none;
    text-decoration: underline;
 }

 .chevronIcon {
     margin-left: 10px;
     height: 20px;
     width: 20px;
 }

 .loadmore {
     background: transparent;
     border: transparent;
     text-decoration: underline;
     font-size: 20px;
     color: #555555;
     margin-left: 650px;
     outline: none;
 }