@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

.logo{
    margin-left: 50px;
}

.logoText{
    font-family: 'Courgette', cursive;
    font-size:36px;
    color:#E12F8F;
}

@media screen and (max-width: 415px) {
    .logo {
        margin-left: 20px;
        
    }

    .logoText{
        font-size: 15px;
        
    }
    
}