
.webTitle{
    margin-top: 45px;
    margin-left: 75px;
    color:#E12F8F;
    font-size: 27px;
    font-weight: bold;
}
.webShop{
    display: flex;
    flex-flow: row;
    margin-left: 130px;
}
.imageGallery{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    width: 800px;
    margin-top:30px;
    margin-right: 50px;
}
.productBox{
    display: flex;
    flex-flow: column;
    padding-right: 50px;
    padding-bottom: 25px;
}
.productImage{
    max-height: 200px;
    border: 1px solid #cecece;
}
.productName{
    padding-bottom: 5px;
}
.checkingRow{
    display: flex;
    flex-flow: row;

}
.productPrice{
    color: #E12F8F;
    font-weight: bold;
    padding-right: 100px;
}
.pickBox{
    width: 20px;
    height: 20px;
}
.boxAndBttn{
    display: flex;
    flex-flow: column;
}
.choicesBox{
    margin-right: 75px;
    width: 400px;
    height: 550px;
    margin-top:30px;
    border: 1px solid #cecece;
    overflow-y: scroll;
}
.choicesBoxTitle{
    border-bottom: 1px solid #cecece;
    font-size: 22px;
    font-weight: bold;
    color: #E12F8F;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.addBttn{
    background-color:#06C206;
    outline: none;
    border: none;
    width: 300px;
    height: 50px;
    margin-top:35px;
    text-align: center;
    margin-left: 100px;
    cursor: pointer;
}
.addBttn span{
    color: white;
    font-size: 19px;
}

.loadMore{
    text-decoration: underline;
    text-align: center;
    width: 700px;
    padding-top: 30px;
}


.pickedProduct{
    display: flex;
    flex-flow: row;
    align-items: center;
    border-bottom: 1px solid #cecece;
    width: 400px;
    height: 80px;
    justify-content: center;
}
.pickedProductImage{
    max-width: 50px;
    max-height: 50px;
    margin-bottom: 2px;
    
    border: 1px solid #cecece;
}
.pickedProductName{
    padding-left: 30px;
}
.quantityNum{
    padding-left: 30px;
}
.numBox{
    width: 35px;
    height: 26px;
    text-align: center;
    border: 1px solid #cecece;
    font-size: 19px;
    outline: #555555;
    background-color: white;
}
.minus{
    width: 25px;
    height: 30px;
    border: 1px solid #cecece;
    background-color: whitesmoke;
    text-align: center;
    outline: #555555;
    font-size: 19px;
    cursor: pointer;
}
.plus{
    width: 25px;
    height: 30px;
    border: 1px solid #cecece;
    background-color: whitesmoke;
    text-align: center;
    outline: #555555;
    font-size: 19px;
    cursor: pointer;
}
.pickedProductPrice{
    font-size: 19px;
    font-weight: bold;
    padding-left: 30px;
}

@media screen and (max-width: 415px) {
    .webTitle{
        margin-top: 30px;
        margin-left: 45px;
        font-size: 17px;
    }
    .webShop{
        flex-flow: column;
        margin-left: 85px;
    }
    .imageGallery{
        flex-flow: column;
        /* flex-wrap: wrap; */
        width: 380px;
        margin-top:20px;
    }
    .productBox{
        flex-flow: column;
        padding-right: 50px;
        font-size: 17px;
    }
    .productImage{
        max-height: 200px;
    }
    .productName{
        padding-bottom: 5px;
    }
    .checkingRow{
        font-size: 17px;
    
    }
    
    .pickBox{
        width: 20px;
        height: 20px;
    }
    /* .boxAndBttn{
        padding-left: -70px;
    } */
    .choicesBox{
        width: 300px;
        height: 450px;
        margin-top:30px;
    }
    .choicesBoxTitle{
        font-size: 17px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .addBttn{
        width: 260px;
        height: 45px;
        margin-left: 0px;
        font-size: 19px;
    }
    .addBttn span{
        font-size: 19px;
    }
    
    .loadMore{
        visibility: hidden;
        text-decoration: underline;
    text-align: left;
    padding-top: 0px;
    } 
    
    
    .pickedProduct{
        display: flex;
        flex-flow: row;
        align-items: center;
        border-bottom: 1px solid #cecece;
        width: 400px;
        height: 80px;
        justify-content: center;
    }
    .pickedProductImage{
        max-width: 50px;
        max-height: 50px;
        margin-bottom: 2px;
        
        border: 1px solid #cecece;
    }
    .pickedProductName{
        padding-left: 30px;
    }
    .quantityNum{
        padding-left: 30px;
    }
    .numBox{
        width: 35px;
        height: 26px;
        text-align: center;
        border: 1px solid #cecece;
        font-size: 19px;
        outline: #555555;
        background-color: white;
    }
    .minus{
        width: 25px;
        height: 30px;
        border: 1px solid #cecece;
        background-color: whitesmoke;
        text-align: center;
        outline: #555555;
        font-size: 19px;
        cursor: pointer;
    }
    .plus{
        width: 25px;
        height: 30px;
        border: 1px solid #cecece;
        background-color: whitesmoke;
        text-align: center;
        outline: #555555;
        font-size: 19px;
        cursor: pointer;
    }
    .pickedProductPrice{
        font-size: 19px;
        font-weight: bold;
        padding-left: 30px;
    }
    
}