.h2 { 
    font-size: 30px;
    /* line-height: 3; */
    color: #E12F8F;
    padding-left: 70px;
}

 .container {
    display: inline-flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    font-family: 'Nunito';
  }
   
  .list {
    padding-left: 0;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    width: fit-content;
    margin: 0 100px;
  } 

  .list ul {
    list-style: none;
    margin: 5px 12px;
    /* width: min-content; */
    border:1px solid white;
    border-radius: 0px;
    box-shadow: 0 4px 4px 0 #cecece, 0 6px 20px 0 #cecece;
    background-color: whitesmoke;
  }
   
  .list ul span {
    word-wrap: break-word;
  }

  .pt1 {
    display: flex;
    flex-flow: row;
    margin-right: 10px;
  }

  .pt2 {
    display: flex;
    flex-flow: column;
    padding-left: 15px;
  }