.container {
    background-color: whitesmoke;
    display: flex;
    flex-flow: column;
    align-items: center;
    /* padding: 0 100px; */
    padding-left: 70px;
    padding-right: 70px;
  }

  .Title{
    color: #E12F8F;
  }
   
  .returnButton{
    background: transparent;
    border: transparent;
    text-decoration: underline;
    font-size: 20px;
    color: #555555;
    margin-left: 990px;
    margin-top: 50px;
    width: 270px;
    outline: none;
    font-weight: bold;
  }
   
  .container article {
    line-height: 25px;
    font-size: 20px;
  }

  @media screen and (max-width: 415px) {
    .container {
      padding-left: 40px;
      padding-right: 40px;
    }
  
    .Title{
      font-size: 19px;
    }
     
    .returnButton{
      font-size: 17px;
      margin-left: 160px;
      margin-top: 30px;
    }
     
    .container article {
      line-height: 23px;
      font-size: 17px;
    }

    .coverImage {
      width: 100px;
      height: 100px;
    }
  }