.container {
    background-color: whitesmoke;
    width: 1000px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    /* padding: 0 100px; */
    padding-left: 70px;
    padding-right: 70px;
    margin-left: 180px;
    margin-top: 50px;
  }

  .Title{
    color: #E12F8F;
  }
  .coverImage{
    max-height: 200px;
    max-width: 300px;
  }
   .textArticle{
     padding-top: 30px;
     width: 900px;
   }
  .returnButton{
    background: transparent;
    border: transparent;
    text-decoration: underline;
    font-size: 20px;
    color: #555555;
    margin-left: 990px;
    margin-top: 50px;
    width: 270px;
    outline: none;
    cursor: pointer;
  }
   
  .container article {
    line-height: 25px;
    font-size: 20px;
  }

  @media screen and (max-width: 415px) {
    .container {
      padding-left: 0px;
      padding-right: 0px;
      justify-content: left;
      align-items: left;
    margin-left: 20px;
    margin-top: 20px;
    margin-left: 0px;
    width: 380px;
    }
  
    .Title{
      font-size: 17px;

    }
     
    .returnButton{
      font-size: 17px;
      margin-left: 160px;
      margin-top: 30px;
    }
     
    .container article {
      line-height: 21px;
      font-size: 15px;
      word-wrap: break-word;
    }

    .coverImage {
      width: 100px;
      height: 100px;
    }

    .textArticle{
      padding-top: 30px;
      width: 360px;
    }
  }